.portfolio {
    overflow: hidden;
}
.portfolio-items {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.portfolio-items__item {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 2px 12px rgb(255 165 77);
}

.item-first {
    left: -50px;
    transform: rotate(22deg);
    margin: 0 auto;
    background-image: url('./heroApi.JPG');
}

.item-second {
    top: 72px;
    right: -10px;
    transform: rotate(347deg);
    margin: 0 auto;
    background-image: url('./tvMaze.JPG');
    background-position-x: 45%;
}

.item-third {
    top: 147px;
    right: 11px;
    transform: rotate(368deg);
    margin: 0 auto;
    background-image: url('./weatherApp.JPG');
}

.portfolio-items__item__shadow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    background-color: rgba(255, 165, 77, 0);
    cursor: pointer;
    transition: 0.3s;
}

.portfolio-items__item__shadow h2 {
    margin: 0 auto;
    transform: rotate(-45deg);
}

.portfolio-items__item__shadow:hover {
    opacity: 1;
    background-color: rgba(255, 165, 77, 0.5);
    border: 2px solid white;
}

.portfolio-items__item__content {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.portfolio-items__item:after {
    content: " ";
    display: block;
    padding-bottom: 100%;
}

@media(min-width: 1024px) {
    .portfolio-items {
        width: 100%;
    }
    .portfolio .container {
        width: 80%;
    }
    .portfolio-items{
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio-items__item {
        right: 0;
        top: 0;
        left: 0;
        position: relative;
        overflow: hidden;
        width: 33%;
        margin: 0 auto;
        transform: rotate(45deg);
        transition: .5s;
    }
    .portfolio-items__item:hover {
        transform: scale(1.05) rotate(45deg);
        background-color: var(--main-color);
        z-index: 1;
    }

}
